<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aishang.shop.dao.TbUsersMapper">
  <resultMap id="BaseResultMap" type="com.aishang.shop.po.TbUsers">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="depID" jdbcType="INTEGER" property="depid" />
    <result column="userName" jdbcType="CHAR" property="username" />
    <result column="userPwd" jdbcType="VARCHAR" property="userpwd" />
    <result column="userCode" jdbcType="CHAR" property="usercode" />
    <result column="userSex" jdbcType="CHAR" property="usersex" />
    <result column="userAge" jdbcType="INTEGER" property="userage" />
    <result column="userPower" jdbcType="INTEGER" property="userpower" />
  </resultMap>
</mapper>